:host {
  display: inline-flex;
  flex-direction: column;

  border: 2px dashed darkgray;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}

p {
  text-align: center;

  font-size: 3rem;
  font-weight: bold;
}

button {
  background: none;
  border: 2px solid darkgray;
  border-radius: 0.5rem;
  padding: 0.5rem;

  cursor: pointer;

  &:hover {
    background: lightgray;
  }
}
