<h2>{{ title() }}</h2>

<p>
  Sort by:
  <mat-button-toggle-group [value]="sortBy()" (change)="setSort($event.value)">
    <mat-button-toggle value="done">Done</mat-button-toggle>
    <mat-button-toggle value="content">Content</mat-button-toggle>
    <mat-button-toggle value="">None</mat-button-toggle>
  </mat-button-toggle-group>
</p>

<table mat-table [dataSource]="sorted()" class="mat-elevation-z8">
  <ng-container matColumnDef="done">
    <td mat-cell *matCellDef="let todo" (click)="setDone(todo, !todo.done)">
      <mat-icon>{{ todo.done ? 'task_alt' : 'radio_button_unchecked' }}</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="content">
    <td mat-cell *matCellDef="let todo">
      <div class="content-container">
        @if (editing() === todo.id) {
        <input #input [value]="todo.content" />
        <button mat-icon-button (click)="setContent(todo, input.value)">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button (click)="cancelEdit()">
          <mat-icon>close</mat-icon>
        </button>
        } @else {
        <span class="content" (click)="edit(todo.id)">{{ todo.content }}</span>
        }
      </div>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>

<div class="button-row">
  <a mat-button [routerLink]="['..']">Back</a>
  <span class="spacer"></span>
  <button mat-raised-button color="primary" (click)="addEmpty()" [disabled]="addDisabled()">
    Add
  </button>
</div>
